.wrapper {
  width: 1440px;
  height: 900px;
  background-color:white;
  margin: 0 auto;
}

body{
  margin: 0;
}

img {
  width: 300px;
  height: 300px;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.container{
  width: 1040px;
  margin: 0 auto;
  background-color:white;
}

.slider{
  margin-top: 100px;
  margin-bottom: 50px;
  background-color:white;
}

.slider-container{
  display: block;
  width: 1000px;
  background-color: white;
}


p{
  font-size: 22px;
  font-weight: 300;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}