.wrapper {
    width: 1440px;
    height: 900px;
    background-color: aqua;
    margin: 0 auto;
  }

.container{
    width: 1040px;
    margin: 0 auto;
    background-color: darkgoldenrod;
}

.slider{
    background-color: blueviolet;
    margin-top: 100px;
    margin-bottom: 50px;
    margin: 0 auto;
}

.slider-container{
    width: 760 px;
    background-color: pink;
    /* margin: 0 auto; */
}    


body{
    margin: 0;
}

p{
    font-size: 22px;
    font-weight: 300;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

button{
    display: block;
    margin: 0 auto;
    font-size: 25px;
    background-color: gray;
    color: white;
    width: 250px;
}

img{
    width: 300px;
    height: 300px;
    margin: 0 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}